body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{
  --lightPrimarycolor: rgb(255, 255, 255);
  --lightHeadingColor: black;
  --lightParagraphColor: rgb(0, 0, 0, .8);
  --lightShadowColor: rgb(0, 0, 0, .6);
  --lightButtonColor: rgb(59, 59, 255);
  --lightButtonHoverColor:rgb(0, 0, 176);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#tost {
  font-size: 14px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #767474;
}

::-webkit-scrollbar {
  width: 12px;
  z-index: 10;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(56, 57, 58);
}
