#NoteCards{
    /* height: 100%; */
    padding: 20px;
    border-radius: 3px;
    box-shadow: inset 0 0 3px 0 rgb(0, 0, 0, .6);
    width: 300px;
    border: 1px solid rgb(0, 0, 0, .6);
    margin: auto;
    overflow: hidden;
    background-color: white;
    transition: .5s;
}
#NoteCards:hover{
    scale: 1.05;
}
#NoteCards .head{
    display: flex;
    justify-content: space-between;
}
#NoteCards .head h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 17px;
}
#copy{
    display: none;
    font-size: 18px;
    cursor: pointer;
    color: rgb(0, 0, 0, .5);
}
#NoteCards:hover> .head #copy{
    display: block;
}
#NoteCards p{
    text-align: justify;
    margin-top: 5px;
    letter-spacing: 1px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0, .8);
}
#NoteCards .extrainfo{
    display: flex;
    justify-content: space-between;
}
#NoteCards .extrainfo #catagory, #NoteCards .extrainfo b{
    font-weight: 600;
    color: rgb(0, 0, 0, .7);
    font-size: 14px;
    letter-spacing: 1px;
}

#NoteCards .buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}
#NoteCards .buttons button{
    padding: 5px 8px;
    border-radius: 2px;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    background-color: rgb(59, 59, 255);
    color: white;
    border: none;
}

#NoteCards .buttons button:hover{
    background-color: rgb(0, 0, 176);
}