#noteForm{
    width: 100%;
    max-width: 1600px;
}
#noteForm form{
    width: 90%;
    margin: auto;
    padding: 10px 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#noteForm form .inpfld{
    display: flex;
    flex-direction: column;
}
#noteForm form .inpfld label{
    margin: 5px 0;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 18px;
}
#noteForm form .inpfld input, #noteForm form .inpfld textarea{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    outline: none;
    border: none;
    box-shadow: 0 0 2px 0 var(--lightShadowColor);
    border: 1px solid var(--lightShadowColor);
    border-radius: 2px;
    font-size: 16px;
    margin-bottom: 10px;
    resize: none;
    letter-spacing: 1px;
}
#noteForm form .inpfld textarea{
    height: 150px;
}
#noteForm form button{
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 0 0 2px 0 var(--lightShadowColor);
    width: 200px;
    background-color: var(--lightButtonColor);
    color: white;
    border: none;
    border-radius: 2px;
    font-weight: 600;
    transition: .5s;
}
#noteForm form button:hover{
    background-color: var(--lightButtonHoverColor);
}

.textarea{
    position: relative;
}
.textarea .lettercount{
    position: absolute;
    bottom: 15px;
    right: 5px;
    font-size: 13px;
    letter-spacing: 1px;
}


.heading{
    font-weight: 400;
    letter-spacing: 2px;
}